In [1]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
from PIL import Image
import pickle
import collections
from collections import Counter

#url open to get image
import urllib.request
from urllib.request import urlopen

#get data in parallel
from multiprocessing import Pool

#plot (for image verification)
import matplotlib.cm as cm
%matplotlib inline
from matplotlib import pyplot as plt

In [2]:
# Root directory of the project
ROOT_DIR = os.path.abspath("../")
path_data = os.path.join(ROOT_DIR,'datasets/inaturalist')

In [3]:
PACKAGE_PARENT = '../../..'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))

from UTILS.utils import get_image

/home/camille/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [4]:
#Note this notebook can not be run in the same time as get_flickr_data on my computer, but it could on the cluster.
#Hence, depending on your computer you might or not be able to run both in the same time, but if you try verify its 
#blocked

# Download data

### list of species and its synonymes

In [5]:
#dowload dictionary with keys=species, value=list of its synonyms
dico_syn = pickle.load(open(os.path.join(ROOT_DIR,'datasets','synonyms','dico_species_lisyn.pkl'), 'rb'))

#### create list of species and their synonymes

In [6]:
li_species_word = []
for k,v in dico_syn.items():
    li_species_word.append(k)
    li_species_word.extend(v)
print('There is %d species-word in total to query for'%len(li_species_word))

There is 18289 species-word in total to query for

In [7]:
#dico ith keys a species word and value its associated species name
dico_speciesword_species = {}
for k,v in dico_syn.items():
    for i in v+[k]:
            dico_speciesword_species[i] = k

### inaturalist info

In [8]:
#to get url 
df_all= pd.read_csv(os.path.join(path_data, 'observations-39577.csv'), sep=',', parse_dates=['observed_on',
                                                                                          'time_observed_at'])
print(df_all.shape)
df_all.head(3)

(145481, 35)

,id,observed_on_string,observed_on,time_observed_at,time_zone,out_of_range,user_id,user_login,created_at,updated_at,...,positional_accuracy,geoprivacy,coordinates_obscured,positioning_method,positioning_device,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,122,"September 10, 2007 12:00",2007-09-10,2007-09-10 19:00:00,Pacific Time (US & Canada),NaN,15,gdurkee,2008-04-09 11:57:16 -0500,2017-07-31 03:48:31 -0500,...,NaN,NaN,False,NaN,NaN,Mountain Garter Snake,Thamnophis elegans elegans,Mountain Garter Snake,Reptilia,28400
1,369,5/26/07,2007-05-26,NaT,Eastern Time (US & Canada),NaN,72,stellaoleary,2008-06-05 14:04:53 -0500,2014-10-19 22:06:17 -0500,...,NaN,NaN,False,NaN,NaN,black rat snake,Pantherophis alleghaniensis,Eastern Rat Snake,Reptilia,59644
2,502,07/12/08,2008-07-12,NaT,Eastern Time (US & Canada),NaN,19,justinscioli,2008-07-12 12:18:20 -0500,2015-11-07 00:16:04 -0600,...,NaN,NaN,False,NaN,NaN,Northern Water Snake,Nerodia sipedon sipedon,Northern Water Snake,Reptilia,29306

#### small preprocessing

In [9]:
df_all.rename(columns={'user_id':'photographer', 'url':'observation_url','scientific_name':'species_word'},inplace=True)
df_all.rename(columns={'image_url':'url'},inplace=True)

In [10]:
#make one good date
df_all['datetaken'] = np.where(df_all['time_observed_at'].isnull(), df_all['observed_on'],df_all['time_observed_at'])
#small verification
#df[['observed_on','time_observed_at','observed_on_string','datetaken']]

In [11]:
#potential new synonyms
dico_more_syn = dict(zip(df_all['species_word'], df_all['common_name']))
#verification: dico_more_syn['Malpolon monspessulanus']
#ask andrew if this might help (i..e secure thing from inaturalist of given by crowd)
pickle.dump(dico_more_syn, open(os.path.join(path_data,'dico_more_syn_common_name_inaturalist.pkl'), 'wb'))

In [12]:
#removing if not in our species-word list
df = df_all[df_all['species_word'].isin(li_species_word)]
print(df.shape)
#removing if no url
df = df[~df['url'].isnull()]
print(df.shape)
#add associated species name of the species word 
df['species'] = df['species_word'].map(lambda x: dico_speciesword_species[x])
df.head(3)

(113969, 36)
(113967, 36)

,id,observed_on_string,observed_on,time_observed_at,time_zone,out_of_range,photographer,user_login,created_at,updated_at,...,coordinates_obscured,positioning_method,positioning_device,species_guess,species_word,common_name,iconic_taxon_name,taxon_id,datetaken,species
1,369,5/26/07,2007-05-26,NaT,Eastern Time (US & Canada),NaN,72,stellaoleary,2008-06-05 14:04:53 -0500,2014-10-19 22:06:17 -0500,...,False,NaN,NaN,black rat snake,Pantherophis alleghaniensis,Eastern Rat Snake,Reptilia,59644,2007-05-26 00:00:00,Pantherophis alleghaniensis
5,1227,"May 20, 2006 15:49",2006-05-20,2006-05-20 22:49:00,Pacific Time (US & Canada),False,1,kueda,2009-01-13 02:29:54 -0600,2016-03-01 11:27:39 -0600,...,False,NaN,NaN,Western Terrestrial Garter Snake (Thamnophis e...,Thamnophis elegans,Western Terrestrial Garter Snake,Reptilia,28398,2006-05-20 22:49:00,Thamnophis elegans
6,1228,"May 13, 2006 19:36",2006-05-13,2006-05-14 02:36:00,Pacific Time (US & Canada),False,1,kueda,2009-01-13 02:29:54 -0600,2017-05-02 13:03:37 -0500,...,False,NaN,NaN,Western Terrestrial Garter Snake,Thamnophis elegans,Western Terrestrial Garter Snake,Reptilia,28398,2006-05-14 02:36:00,Thamnophis elegans

In [13]:
df['saved_img_id'] = df.apply(lambda x: 'inaturalist_'+x['species']+'_'+str(x['id'])+'.png', axis=1)
df['img_path'] = df.apply(lambda x: os.path.join(path_data, x['species'], x['saved_img_id']), axis=1)

In [14]:
li_species_flickr = list(set(df['species'].tolist()))
print('There is %d species-name with at least one image in Inaturalist'%len(li_species_flickr))
print('There is %d images to download from Inaturalist'%df.shape[0])
df.head(2)

There is 1591 species-name with at least one image in Inaturalist
There is 113967 images to download from Inaturalist

,id,observed_on_string,observed_on,time_observed_at,time_zone,out_of_range,photographer,user_login,created_at,updated_at,...,positioning_device,species_guess,species_word,common_name,iconic_taxon_name,taxon_id,datetaken,species,saved_img_id,img_path
1,369,5/26/07,2007-05-26,NaT,Eastern Time (US & Canada),NaN,72,stellaoleary,2008-06-05 14:04:53 -0500,2014-10-19 22:06:17 -0500,...,NaN,black rat snake,Pantherophis alleghaniensis,Eastern Rat Snake,Reptilia,59644,2007-05-26 00:00:00,Pantherophis alleghaniensis,inaturalist_Pantherophis alleghaniensis_369.png,/home/camille/vm_exchange/Lab/snakes/datasets/...
5,1227,"May 20, 2006 15:49",2006-05-20,2006-05-20 22:49:00,Pacific Time (US & Canada),False,1,kueda,2009-01-13 02:29:54 -0600,2016-03-01 11:27:39 -0600,...,NaN,Western Terrestrial Garter Snake (Thamnophis e...,Thamnophis elegans,Western Terrestrial Garter Snake,Reptilia,28398,2006-05-20 22:49:00,Thamnophis elegans,inaturalist_Thamnophis elegans_1227.png,/home/camille/vm_exchange/Lab/snakes/datasets/...

In [15]:
if len(df['id'].tolist())!=len(set(df['id'].tolist())):
    print('ERROR: not unique ids of Inaturalist images')
    sys.exit()

# Download Inaturalist images

#in case to erase all (not csv data given by Andrew)
for species in glob.glob(os.path.join(path_data,'*')):
    if not species.endswith('.csv'):
        shutil.rmtree(species)

In [16]:
#create appropriate folders if not existing
for species in li_species_flickr:
    folder_path_s = os.path.join(path_data,species)
    if not os.path.exists(folder_path_s):
        os.makedirs(folder_path_s)

In [17]:
def download_image(i):
    #download image and save it
    species = df.iloc[i]['species']
    f = os.path.join(path_data, species,'inaturalist_'+species+'_'+str(df.iloc[i]['id'])+".png")
    get_image(url=df.iloc[i]['url'], path=f, name=df.iloc[i]['species_word'])

In [18]:
#compute time needed to gather all images
start = time.time()
with Pool(50) as p:
    p.map(download_image, range(df.shape[0]))
end = time.time()
print ("Total running time: ", (end-start)/60) #in minutes

Not able to SAVE image for species Thamnophis hammondii and url http://sphotos-b.xx.fbcdn.net/hphotos-ash4/196550_4330579617765_564575578_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus armstrongi and url https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p600x600/10625131_4626806324681_5460785350666786844_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Pituophis deppei and url https://scontent-b.xx.fbcdn.net/hphotos-xpa1/t1.0-9/p600x600/10417681_10203808709836444_675001840006000879_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Lampropeltis californiae and url https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p480x480/164955_10151647182584612_1173872859_n.jpg?oh=a6e9fd5e20f5b321494826940314525c&oe=54FBF18B&__gda__=1425672637_ce899e66de7ff08d173d8af6a2fde102, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus atrox and url https://sphotos-b.xx.fbcdn.net/hphotos-ash4/390417_10152147545005444_1165782574_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Oxybelis aeneus and url https://scontent-a.xx.fbcdn.net/hphotos-ash3/q74/s720x720/1463909_10201768912177121_455067651_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Crotalus horridus and url http://sphotos.xx.fbcdn.net/hphotos-ash3/535305_10100831947447564_899863840_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Leptophis mexicanus and url https://scontent-b.xx.fbcdn.net/hphotos-frc3/q71/s720x720/970069_10200951549423563_2107894948_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Sonora semiannulata and url http://sphotos.xx.fbcdn.net/hphotos-ash3/550433_3479960003055_1378477929_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Lampropeltis californiae and url https://scontent-a.xx.fbcdn.net/hphotos-ash2/t1.0-9/p480x480/205983_179345045469342_5375824_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Loxocemus bicolor and url https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/522886_10150802200949150_1474128763_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus ravus and url https://scontent-b.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/p480x480/1899959_10202900681576305_1416825253_n.jpg?oh=444a0b3f6eda1d97ccb6497f44cdd84d&oe=547B0025, lets STOP due to:
 HTTP Error 403: Forbidden
Not able to SAVE image for species Crotalus ravus and url https://scontent-a.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/p480x480/1897993_10202900680616281_754549533_n.jpg?oh=5e16d660790ca21d347c7992f2b47d8c&oe=5467ED26, lets STOP due to:
 HTTP Error 403: Forbidden
Not able to SAVE image for species Porthidium dunni and url https://sphotos-b.xx.fbcdn.net/hphotos-prn1/s720x720/156457_10150652633696990_677357298_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Pantherophis alleghaniensis and url https://sphotos-b.xx.fbcdn.net/hphotos-ash4/304374_10151171124289242_1768958662_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Lampropeltis californiae and url https://static.inaturalist.org/photos/1772812/medium.jpg?1430192427, lets STOP due to:
 HTTP Error 403: Forbidden
Not able to SAVE image for species Lampropeltis californiae and url https://sphotos-b.xx.fbcdn.net/hphotos-frc1/428759_10201111796504940_1056927499_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Bothrops asper and url https://scontent-b.xx.fbcdn.net/hphotos-ash4/q71/s720x720/1385963_10201199054792679_1864415024_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Regina grahamii and url http://photos-e.ak.fbcdn.net/hphotos-ak-snc1/8924_1125876790416_1332041681_1655332_2947232_a.jpg, lets STOP due to:
 <urlopen error [Errno -2] Name or service not known>
Not able to SAVE image for species Pituophis catenifer and url https://scontent-b.xx.fbcdn.net/hphotos-xpa1/t1.0-9/p600x600/10341892_642552949148547_924209806627355078_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Psammophis punctulatus and url http://a5.sphotos.ak.fbcdn.net/hphotos-ak-ash4/s720x720/409321_3011098154457_1172601412_33278446_559543329_n.jpg, lets STOP due to:
 <urlopen error [Errno -2] Name or service not known>
Not able to SAVE image for species Crotalus lepidus and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/q71/s720x720/931338_10151625520488514_1719868976_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Imantodes cenchoa and url https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/p600x600/10492241_10203455023528851_6147823998499855009_n.jpg?oh=128591df76b8b2d5c298794a04f52075&oe=5440772B&__gda__=1413041808_3bcf3f34472d4f543dffb7e0cb0ae40e, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Lampropeltis californiae and url https://sphotos-a.xx.fbcdn.net/hphotos-ash4/s720x720/408566_10200852368048546_951419004_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis radix and url https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/p600x600/1964859_10152150560751254_2276107922663511943_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis radix and url https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/p720x720/10431514_10152147183626254_3804065448362424328_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Pituophis catenifer and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/574815_10150784481085060_1777520144_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Rhinocheilus lecontei and url https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/s720x720/943706_10152820713630444_1945706983_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Storeria occipitomaculata and url https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/s720x720/391068_10151417633019366_2138110734_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Ophiophagus hannah and url https://sphotos-b.xx.fbcdn.net/hphotos-snc7/578467_432480033431083_642862014_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Geophis hoffmanni and url https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/426532_10150572508829150_597689149_9022729_193537001_a.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Vipera eriwanensis and url http://a6.sphotos.ak.fbcdn.net/hphotos-ak-ash4/229183_10150188342674571_569679570_6715882_3199932_n.jpg, lets STOP due to:
 <urlopen error [Errno -2] Name or service not known>
Not able to SAVE image for species Crotalus oreganus and url https://scontent-b.xx.fbcdn.net/hphotos-frc3/t1.0-9/p600x600/10153111_632885750115267_4229368408548802212_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Lampropeltis californiae and url https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/p600x600/10276060_10152443223558554_7646162695502215219_n.jpg?oh=8d30bba04c6b8dcde65fab6baa6eedbb&oe=55576DFD&__gda__=1432888134_feced726597d8df6261eeb4a46fc9752, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Lycodon capucinus and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/5890_531513884794_8328876_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Rhynchocalamus satunini and url https://scontent.xx.fbcdn.net/t31.0-8/p960x960/240318_10150188321829571_2257511_o.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Enulius flavitorques and url https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash2/20980_291270464149_597689149_3535515_3102785_a.jpg, lets STOP due to:

 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus molossus and url https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/p480x480/226792_168611039864942_4004217_n.jpg?oh=a0df7bb89c4ce60cfba7bec4fc81235b&oe=550DE1D2, lets STOP due to:
 HTTP Error 403: Forbidden
Not able to SAVE image for species Contia tenuis and url https://scontent-b.xx.fbcdn.net/hphotos-frc3/t1.0-9/p480x480/392691_238152756252468_1171277407_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Thamnophis elegans and url https://sphotos-a.xx.fbcdn.net/hphotos-snc7/2493_1061593381704_6463937_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis proximus and url https://sphotos-a.xx.fbcdn.net/hphotos-snc6/269265_4385827856466_1008832304_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Natrix natrix and url https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash2/36344_1487106347735_1536237848_31218920_7783596_a.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Hemorrhois ravergieri and url https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/30935_1461297182522_1536237848_31151419_6527489_a.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Aspidites melanocephalus and url https://sphotos-b.xx.fbcdn.net/hphotos-prn1/24309_1357511264329_8078694_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus ravus and url https://scontent-a.xx.fbcdn.net/hphotos-ash3/q71/s720x720/553845_10202720545793023_1686422222_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Thamnophis saurita and url https://scontent-b.xx.fbcdn.net/hphotos-xpf1/t1.0-9/p600x600/10389657_829914732521_1487702080691007292_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Rhadinaea decorata and url https://scontent-b.xx.fbcdn.net/hphotos-ash3/q71/s720x720/998643_10201342197389518_1983414994_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Pantherophis spiloides and url https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/281823_1463493245364_1774494584_692289_3872099_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Pituophis deppei and url https://scontent-b.xx.fbcdn.net/hphotos-prn1/q71/s720x720/1525139_10202720614674745_451384398_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Thamnophis hammondii and url https://scontent-a.xx.fbcdn.net/hphotos-prn1/t1/s720x720/534388_10150706930460970_99061821_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Senticolis triaspis and url http://sphotos.xx.fbcdn.net/hphotos-ash4/428868_336962256334350_100000617347665_1267227_206443981_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Clonophis kirtlandii and url http://sphotos-a.xx.fbcdn.net/hphotos-ash3/540026_112222568915508_638765690_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis proximus and url https://sphotos-b.xx.fbcdn.net/hphotos-ash4/405027_340353762684685_1858159594_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis proximus and url https://sphotos-b.xx.fbcdn.net/hphotos-ash4/405027_340353762684685_1858159594_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Agkistrodon russeolus and url https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/q80/s720x720/946230_10201130648325405_1942260178_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Pantherophis vulpinus and url http://sphotos-a.xx.fbcdn.net/hphotos-prn1/562501_112218932249205_920720590_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis chrysocephalus and url https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/s720x720/5782_10200397711577963_1025882360_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Oxybelis fulgidus and url https://sphotos-a.xx.fbcdn.net/hphotos-frc3/q71/s720x720/971056_10200695584424598_1963966478_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Regina grahamii and url https://sphotos-b.xx.fbcdn.net/hphotos-ash3/13364_1247771269607_5372249_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Crotalus ruber and url https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/221746_1839441478382_4165258_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis proximus and url https://sphotos-b.xx.fbcdn.net/hphotos-prn1/562188_3533517691839_670712687_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Storeria occipitomaculata and url http://sphotos-b.xx.fbcdn.net/hphotos-snc7/578215_112223925582039_793650675_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Heterodon platirhinos and url https://sphotos-a.xx.fbcdn.net/hphotos-ash4/309932_3533509971646_2085921787_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Symphimus leucostomus and url https://scontent-b.xx.fbcdn.net/hphotos-ash4/q71/s720x720/1002778_10200883456761289_200318353_n.jpg, lets STOP due to:
 HTTP Error 403: Access Denied
Not able to SAVE image for species Storeria storerioides and url https://scontent-b.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/p600x600/10407998_4626807244704_1055598540798912368_n.jpg?oh=1664643d6d9c98855a12aa45c037b2f6&oe=550D14A6, lets STOP due to:
 HTTP Error 403: Forbidden
Not able to SAVE image for species Nerodia rhombifer and url https://sphotos-a.xx.fbcdn.net/hphotos-ash4/260500_2035927453019_1803568_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Nerodia sipedon and url https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/s720x720/428387_722817042151_1727423185_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Agkistrodon contortrix and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/560674_4430081785381_809661731_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Heterodon platirhinos and url https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/s720x720/535694_648557718431_2117264236_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Micrurus tener and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/625577_10200399470884555_1185074297_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Agkistrodon piscivorus and url https://sphotos-a.xx.fbcdn.net/hphotos-frc1/72183_414598378638252_542042758_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Amplorhinus multimaculatus and url http://sphotos-a.xx.fbcdn.net/hphotos-prn1/63178_10151250882028168_340655061_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis proximus and url https://sphotos-a.xx.fbcdn.net/hphotos-ash3/561196_414598615304895_554987777_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Thamnophis hammondii and url http://sphotos-a.xx.fbcdn.net/hphotos-ash4/320506_3803002644539_121106976_n.jpg, lets STOP due to:
 HTTP Error 400: Bad Request
Not able to SAVE image for species Bitis rubida and url https://static.inaturalist.org/photos/15741589/medium.gif?1524081290, lets STOP due to:
 HTTP Error 403: Forbidden
Total running time:  2.8429292400677997

# Check amount of inaturalist images we have

In [19]:
#choose appropriate genus for search
li_images_in = []
for species in glob.glob(os.path.join(path_data,'*')):
    li_images_in.extend([x for x in glob.glob(os.path.join(species,'*')) if x.endswith('.png')]) 
print('We have %d images collected from inaturalist'%len(li_images_in))
#we gain 5'000 with with languages: 108'712 to 114'584

We have 113892 images collected from inaturalist

# save metadata info (only collected images)

In [20]:
#in case, remove images in several species (should not happen in inaturalist)
li_test = []
for i in li_images_in:
    li_test.append(i.split('/')[-1].split('_')[-1].split('.')[0])
c = Counter(li_test)
c = {k:v for k,v in c.items() if v>1}
id_to_be_removed = list(set(c.keys()))
if len(id_to_be_removed)>0:
    print('ERROR: image sin different species!! probably 1 species-word was associated to several species over time')
    sys.exit()
#delete them after analysing why
#for i in li_images_in:
#    if i.split('/')[-1].split('_')[-1].split('.')[0] in id_to_be_removed:
#        #delete file
#        os.remove(i)

"for i in li_images_in:\n    if i.split('/')[-1].split('_')[-1].split('.')[0] in id_to_be_removed:\n        #delete file\n        os.remove(i)"

In [21]:
x1 = df.shape[0]
df = df[df['img_path'].isin(li_images_in)]
print('We lost %.2f percent of images (%d images) due to propably invalid url'%((x1-len(li_images_in))/x1*100, 
                                                                                x1-len(li_images_in)))
df.to_csv(os.path.join(path_data,'inaturalist_image_info.csv'), index=False, sep=';')

We lost 0.07 percent of images (75 images) due to propably invalid url

In [22]:
print(df.shape)
df.head(3)

(113892, 39)

,id,observed_on_string,observed_on,time_observed_at,time_zone,out_of_range,photographer,user_login,created_at,updated_at,...,positioning_device,species_guess,species_word,common_name,iconic_taxon_name,taxon_id,datetaken,species,saved_img_id,img_path
1,369,5/26/07,2007-05-26,NaT,Eastern Time (US & Canada),NaN,72,stellaoleary,2008-06-05 14:04:53 -0500,2014-10-19 22:06:17 -0500,...,NaN,black rat snake,Pantherophis alleghaniensis,Eastern Rat Snake,Reptilia,59644,2007-05-26 00:00:00,Pantherophis alleghaniensis,inaturalist_Pantherophis alleghaniensis_369.png,/home/camille/vm_exchange/Lab/snakes/datasets/...
5,1227,"May 20, 2006 15:49",2006-05-20,2006-05-20 22:49:00,Pacific Time (US & Canada),False,1,kueda,2009-01-13 02:29:54 -0600,2016-03-01 11:27:39 -0600,...,NaN,Western Terrestrial Garter Snake (Thamnophis e...,Thamnophis elegans,Western Terrestrial Garter Snake,Reptilia,28398,2006-05-20 22:49:00,Thamnophis elegans,inaturalist_Thamnophis elegans_1227.png,/home/camille/vm_exchange/Lab/snakes/datasets/...
6,1228,"May 13, 2006 19:36",2006-05-13,2006-05-14 02:36:00,Pacific Time (US & Canada),False,1,kueda,2009-01-13 02:29:54 -0600,2017-05-02 13:03:37 -0500,...,NaN,Western Terrestrial Garter Snake,Thamnophis elegans,Western Terrestrial Garter Snake,Reptilia,28398,2006-05-14 02:36:00,Thamnophis elegans,inaturalist_Thamnophis elegans_1228.png,/home/camille/vm_exchange/Lab/snakes/datasets/...

In [23]:
li_test

['10673210',
 '1077169',
 '10861777',
 '1111226',
 '13138004',
 '13176756',
 '13556005',
 '13589641',
 '14420377',
 '14891940',
 '15085550',
 '16695788',
 '16696826',
 '16788246',
 '16983693',
 '17094215',
 '17101063',
 '17465323',
 '17467494',
 '2757765',
 '3514069',
 '3781909',
 '3952185',
 '4971689',
 '6194545',
 '7223641',
 '9539421',
 '12962117',
 '15631414',
 '52915',
 '71076',
 '16514067',
 '16559647',
 '2393053',
 '2884364',
 '29586',
 '3534447',
 '3534472',
 '4278906',
 '6913961',
 '7718647',
 '7718648',
 '16237111',
 '16384752',
 '16384842',
 '16385107',
 '16385129',
 '16526300',
 '16622260',
 '16622286',
 '16622295',
 '16622344',
 '16622395',
 '17066180',
 '17066217',
 '17066337',
 '17100296',
 '17100618',
 '17100831',
 '17100861',
 '17100983',
 '17101050',
 '17315801',
 '17318432',
 '17318469',
 '17680008',
 '17680140',
 '2661137',
 '6667869',
 '5212890',
 '5418489',
 '5583241',
 '57029',
 '5882865',
 '5936194',
 '5936428',
 '6038219',
 '6222371',
 '6370418',
 '6439491',
 '6502916',
 '6575313',
 '6600816',
 '6601607',
 '6700501',
 '6723841',
 '675736',
 '6918046',
 '7157204',
 '7157303',
 '7174943',
 '7489352',
 '7509151',
 '7527862',
 '7636316',
 '7940788',
 '8185748',
 '82071',
 '8212535',
 '8289276',
 '8468961',
 '8615282',
 '8619988',
 '8700469',
 '8823762',
 '8857689',
 '9049768',
 '9147542',
 '9185202',
 '9502853',
 '9630177',
 '9950957',
 '10066667',
 '10125542',
 '10125766',
 '10125826',
 '10126773',
 '10166084',
 '10439763',
 '10450633',
 '10519554',
 '10537200',
 '10636267',
 '1067037',
 '10687107',
 '1069999',
 '1073338',
 '10856129',
 '10978867',
 '11220643',
 '11331106',
 '11525714',
 '11550153',
 '11602309',
 '11626450',
 '12114918',
 '12137049',
 '12242249',
 '12286267',
 '12440296',
 '12525800',
 '12719435',
 '1277141',
 '13036824',
 '13076100',
 '1308825',
 '13346916',
 '13346921',
 '133971',
 '13413791',
 '13456788',
 '13487050',
 '13572030',
 '13600475',
 '13619407',
 '136481',
 '1393302',
 '14222057',
 '14222059',
 '14222060',
 '14288735',
 '14289414',
 '14289718',
 '1458625',
 '1482207',
 '15258555',
 '15765774',
 '15772753',
 '15868856',
 '15996808',
 '16150961',
 '16370995',
 '16538443',
 '16874817',
 '16884908',
 '17027849',
 '17483212',
 '17696918',
 '1873937',
 '2511173',
 '2777398',
 '2847135',
 '2879462',
 '2951686',
 '2987459',
 '3024376',
 '3040707',
 '3135805',
 '3443987',
 '3519528',
 '35638',
 '3848387',
 '3925825',
 '3948717',
 '3964876',
 '4219790',
 '4480092',
 '4591821',
 '4600698',
 '4627671',
 '4638710',
 '4725120',
 '4826789',
 '5128359',
 '5129709',
 '5145753',
 '5184043',
 '10711588',
 '4849285',
 '831977',
 '9271866',
 '116740',
 '10741420',
 '14700019',
 '17059509',
 '17070545',
 '6654000',
 '9859358',
 '1870025',
 '10529633',
 '1075527',
 '11484174',
 '12044534',
 '12638462',
 '12945502',
 '13446582',
 '14010365',
 '14311105',
 '14510070',
 '14976381',
 '15280054',
 '15473733',
 '15473737',
 '15473742',
 '15473744',
 '15869284',
 '16062181',
 '16118698',
 '16142414',
 '16196164',
 '16567927',
 '16896280',
 '16985188',
 '17061754',
 '17148529',
 '17148596',
 '17245263',
 '1752103',
 '232676',
 '2653736',
 '29711',
 '29977',
 '4620935',
 '917253',
 '9224004',
 '9257148',
 '97654',
 '11374791',
 '17151283',
 '4165460',
 '16203249',
 '4727059',
 '5967589',
 '5978103',
 '6206790',
 '6398966',
 '8490994',
 '105808',
 '10749888',
 '115721',
 '13257676',
 '13266716',
 '13272427',
 '13291468',
 '13357800',
 '13474855',
 '13830623',
 '13852272',
 '13880156',
 '13979543',
 '14007789',
 '14318854',
 '14477435',
 '14567847',
 '14680287',
 '1555510',
 '1556801',
 '15776102',
 '15778861',
 '15993298',
 '16022419',
 '1610559',
 '16207100',
 '16226122',
 '1630444',
 '16646753',
 '16824781',
 '16899740',
 '17083978',
 '17093648',
 '1747961',
 '17574541',
 '17642255',
 '17743598',
 '2153628',
 '216526',
 '2569300',
 '31985',
 '36366',
 '3713147',
 '3832681',
 '3928013',
 '4397474',
 '4521282',
 '4977153',
 '4982411',
 '5594603',
 '5968939',
 '5983926',
 '609955',
 '6740769',
 '6940672',
 '7041586',
 '7260768',
 '8396222',
 '8626757',
 '8929738',
 '9318744',
 '9404735',
 '9773915',
 '5073727',
 '10152835',
 '10477141',
 '10503882',
 '11442327',
 '11443089',
 '11443098',
 '11443099',
 '12769764',
 '14413830',
 '14934052',
 '16203277',
 '16340472',
 '16552660',
 '17089556',
 '17109927',
 '1927758',
 '216469',
 '268541',
 '407810',
 '5235725',
 '5397622',
 '5965221',
 '5967103',
 '5967544',
 '5967878',
 '5975229',
 '5979282',
 '6005253',
 '847101',
 '8478655',
 '8943109',
 '9084481',
 '9272123',
 '3278308',
 '3713229',
 '5256429',
 '1630083',
 '16403446',
 '4660815',
 '4727060',
 '5088891',
 '5967386',
 '5970473',
 '5984374',
 '6460351',
 '9831150',
 '124517',
 '12738283',
 '13078293',
 '13628735',
 '14934038',
 '15162378',
 '15792282',
 '15994949',
 '3487726',
 '4123368',
 '4751599',
 '5235739',
 '5949753',
 '5978093',
 '7555555',
 '8263424',
 '9341636',
 '15041919',
 '16585199',
 '17527679',
 '5160681',
 '6666398',
 '9058915',
 '16855235',
 '219283',
 '117820',
 '15155580',
 '16647811',
 '16782647',
 '17713533',
 '8118184',
 '8726805',
 '8954125',
 '9420829',
 '9638200',
 '9962171',
 '16853531',
 '10249003',
 '10249004',
 '117821',
 '17438723',
 '5858789',
 '8147103',
 '8954121',
 '9783202',
 '10167583',
 '10328944',
 '10364131',
 '1075558',
 '10768911',
 '10925565',
 '14072924',
 '15473534',
 '16677462',
 '2844158',
 '3254178',
 '39417',
 '3999086',
 '4142597',
 '4613390',
 '5325304',
 '537177',
 '6560733',
 '6750948',
 '7051566',
 '851068',
 '856586',
 '8810570',
 '9745827',
 '9832315',
 '9861926',
 '9979937',
 '10691896',
 '743388',
 '9053792',
 '1075587',
 '10804110',
 '11374836',
 '13070050',
 '14285673',
 '14934028',
 '15771879',
 '15972787',
 '17427982',
 '17641459',
 '17705928',
 '216516',
 '2501254',
 '3708215',
 '3839949',
 '3841012',
 '3938912',
 '4521200',
 '4841858',
 '6005274',
 '8278799',
 '9109155',
 '96854',
 '9947416',
 '13143168',
 '2770228',
 '9884795',
 '11418975',
 '1453920',
 '10187521',
 '10699510',
 '11600650',
 '11602019',
 '12575090',
 '12702153',
 '13177140',
 '16265601',
 '4994846',
 '522546',
 '5243227',
 '526776',
 '55727',
 '582928',
 '603801',
 '6494961',
 '670536',
 '675370',
 '80288',
 '825029',
 '2319860',
 '13033404',
 '54950',
 '603788',
 '603809',
 '71075',
 '11500598',
 '12138186',
 '12919172',
 '16215537',
 '1866748',
 '2670823',
 '3499258',
 '6126517',
 '6345318',
 '6446405',
 '6446407',
 '6552543',
 '6552595',
 '6572495',
 '6689301',
 '6811664',
 '6708365',
 '6709437',
 '6731136',
 '6753135',
 '6775917',
 '6776048',
 '6787671',
 '6806240',
 '6806371',
 '6850967',
 '6871910',
 '6872389',
 '6900125',
 '6907515',
 '6927261',
 '6941061',
 '6994131',
 '7035211',
 '7035268',
 '7035269',
 '7065377',
 '7100170',
 '7128175',
 '7129227',
 '7230933',
 '7238898',
 '7282271',
 '7340313',
 '7406182',
 '7426012',
 '7461213',
 '7530914',
 '7540644',
 '7540875',
 '7540889',
 '7540892',
 '7602646',
 '7630617',
 '7662510',
 '7670635',
 '7686339',
 '7686359',
 '7699446',
 '7699482',
 '7699624',
 '772892',
 '7737170',
 '7818171',
 '7831605',
 '7916086',
 '79244',
 '7935892',
 '8022774',
 '8035691',
 '806195',
 '8087102',
 '8105031',
 '8156464',
 '8300925',
 '8325519',
 '8337440',
 '8356086',
 '8369625',
 '8507669',
 '8815208',
 '8816878',
 '8863657',
 '8963513',
 '8979697',
 '9053840',
 '9103003',
 '9164484',
 '9240690',
 '9411716',
 '9468878',
 '9609516',
 '9609796',
 '9659997',
 '9691697',
 '9691973',
 '9872267',
 '9890957',
 '9960379',
 '4071045',
 '4244783',
 '4318056',
 '4318074',
 '4418408',
 '4418410',
 '4640506',
 '4750785',
 '4755852',
 '5244595',
 '5526319',
 '5529346',
 '5555795',
 '5570525',
 '5621655',
 '5627767',
 '5636380',
 '5684972',
 '5692350',
 '5716983',
 '5753226',
 '5887352',
 '5904132',
 '5907039',
 '5921219',
 '5922483',
 '5954393',
 '6021608',
 '6027587',
 '6066854',
 '6110530',
 '6123838',
 '6124472',
 '6129348',
 '6138517',
 '6138784',
 '6150930',
 '6153033',
 '6153629',
 '6159502',
 '6173787',
 '6173860',
 '6175659',
 '6191950',
 '6191959',
 '6204902',
 '6209365',
 '6218459',
 '6218598',
 '6220052',
 '62224',
 '6223199',
 '6223917',
 '6232396',
 '6234752',
 '6245828',
 '6248759',
 '6269731',
 '6271463',
 '6315574',
 '6323828',
 '6323984',
 '6346058',
 '6359735',
 '6368365',
 '6420824',
 '6430018',
 '6441072',
 '6454071',
 '6454512',
 '6454777',
 '6455390',
 '6455405',
 '6469538',
 '6471702',
 '6471809',
 '6477631',
 '6492748',
 '6498492',
 '6533495',
 '6535122',
 '6535226',
 '6552513',
 '6572614',
 '6575291',
 '6575425',
 '6588434',
 '6589780',
 '6619851',
 '6620877',
 '6631373',
 '6631495',
 '6666412',
 '6679292',
 '6679898',
 '6693555',
 '16293423',
 '16326647',
 '16416920',
 '16481686',
 '16482665',
 '16483241',
 '16483242',
 '16532975',
 '16545214',
 '16584023',
 '16584951',
 '16602881',
 '16624210',
 '16659755',
 '16742383',
 '16829858',
 '16880718',
 '16896299',
 '16925568',
 '17004135',
 '17161706',
 '17247503',
 '17323133',
 '17371077',
 '17436550',
 '17530573',
 '17544211',
 '17567392',
 '17587302',
 '17592066',
 '17656831',
 '17704687',
 '17713530',
 '17717611',
 '17743039',
 '1779459',
 '1840893',
 '1888816',
 '1892751',
 '1936514',
 '1972043',
 '1972061',
 '2011084',
 '2080529',
 '2096784',
 '2108503',
 '2108505',
 '2109117',
 '2312194',
 '2347427',
 '2347497',
 '2370660',
 '2433379',
 '2508406',
 '2566979',
 '2631278',
 '29583',
 '3204953',
 '3211622',
 '3269282',
 '3301532',
 '3318434',
 '3332570',
 '3341463',
 '3356377',
 '3395623',
 '3400022',
 '3425861',
 '3433185',
 '3435419',
 '3444089',
 '3458109',
 '3502992',
 '3514015',
 '3526670',
 '3526671',
 '3564906',
 '3585889',
 '3619193',
 '3619663',
 '3670735',
 '3703635',
 '3802224',
 '3872919',
 '3882207',
 '3912279',
 '3938899',
 '3961687',
 '4034039',
 '4034593',
 '4039220',
 '4039235',
 '4039252',
 '4054542',
 '4063742',
 '4071018',
 '13176738',
 '13227421',
 '13234549',
 '13262748',
 '13291096',
 '13326729',
 '13339920',
 '13344968',
 '13361145',
 '13388002',
 '13388013',
 '13388050',
 '13427385',
 '13449731',
 '13459928',
 '13477911',
 '13478295',
 '13517011',
 '13576251',
 '13576931',
 '13592343',
 '13637374',
 '13665517',
 '13675506',
 '13739225',
 '13747923',
 '13777410',
 '13807537',
 '13836757',
 '13839292',
 '1387694',
 '1395371',
 '13957512',
 '13974708',
 '13975221',
 '13981249',
 '14021036',
 '14037177',
 '14049967',
 '14071851',
 '1414349',
 '1414462',
 '14145097',
 '14252503',
 '14340476',
 '14345152',
 '14349511',
 '14375399',
 '1443990',
 '14444099',
 '14470746',
 '14485371',
 '14487708',
 '1467705',
 '14692225',
 '14713449',
 '14757840',
 '1487306',
 '1496888',
 '14995453',
 '14995526',
 '1500847',
 '15026070',
 '1511160',
 '1511165',
 '1511176',
 '1511191',
 '1511195',
 '15202263',
 '1520940',
 '15291551',
 '15291582',
 '15442822',
 '15499802',
 '15514947',
 '15559552',
 '15628653',
 '15659978',
 '15682278',
 '15688652',
 '15778565',
 '1578655',
 '15786955',
 '15823885',
 '15907194',
 '15925823',
 '1595711',
 '1600468',
 '16022592',
 '16063680',
 '1619053',
 '16234511',
 '16268817',
 '1627244',
 '16279929',
 '10139317',
 '10347366',
 '10411672',
 '10704748',
 '10775530',
 '10775678',
 '10888810',
 '10889049',
 '10899792',
 '10899977',
 '10925884',
 '10964140',
 '11062793',
 '1116061',
 '11163115',
 '11174796',
 '11208947',
 '11229768',
 '11277291',
 '11319073',
 '11323721',
 '11368161',
 '11368734',
 '11385685',
 '11399281',
 '11415928',
 '11416540',
 '11422959',
 '11444563',
 '11445464',
 '11449013',
 '11482194',
 '11484196',
 '11499331',
 '11650498',
 '11657757',
 '11727353',
 '11749162',
 '11981939',
 '12015980',
 '12038034',
 '12057248',
 '12084696',
 '12096922',
 '12170000',
 '12188920',
 '12192233',
 '12204674',
 '12205954',
 '12247105',
 '12265889',
 '12274171',
 '12289913',
 '12355277',
 '12408846',
 '12451704',
 '12453963',
 '12517407',
 '12611491',
 '12634329',
 '12680776',
 '12680924',
 '12765487',
 '12770632',
 '12776145',
 '12779599',
 '12784497',
 '12833896',
 '12852101',
 '12855489',
 '12856262',
 '12861636',
 '12863266',
 '12866329',
 '12885416',
 '12886854',
 '12893119',
 '12901321',
 '12951587',
 '12953020',
 '12958289',
 '12991418',
 '12992658',
 '13015245',
 '13016887',
 '13017020',
 '13039553',
 '13071062',
 '13075872',
 '13087935',
 '13105564',
 '13107216',
 '13109417',
 '13151072',
 '1286521',
 '4284867',
 '3744995',
 '3882442',
 '4102174',
 '4284784',
 '4684270',
 '4755403',
 '5123656',
 '6115024',
 '6359627',
 '6986016',
 '7372955',
 ...]